<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Gateway.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
      <section name="Gateway.properties.Settings"
               type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <Gateway.Properties.Settings>
        <setting name="dbconn" serializeAs="String">
            <value>Server=SQLAAS.LAB;Integrated Security = True</value>
        </setting>
        <setting name="loglevel" serializeAs="String">
            <value>Standard</value>
        </setting>
        <setting name="logfile" serializeAs="String">
            <value>C:\temp</value>
        </setting>
        <setting name="authserver" serializeAs="String">
            <value>https://SQLAAS.LAB:30072</value>
        </setting>
        <setting name="adminserver" serializeAs="String">
            <value>https://SQLAAS.LAB:30004</value>
        </setting>
        <setting name="adfs" serializeAs="String">
            <value>false</value>
        </setting>
        <setting name="tenantserver" serializeAs="String">
            <value>https://SQLAAS.LAB:30005</value>
        </setting>
        <setting name="prodshare" serializeAs="String">
            <value>\\SQLAAS.LAB\PROD</value>
        </setting>
        <setting name="nonprodshare" serializeAs="String">
            <value>\\SQLAAS.LAB\NONPROD</value>
        </setting>
        <setting name="checkinterval" serializeAs="String">
            <value>10</value>
        </setting>
        <setting name="securitygrpshareaccess" serializeAs="String">
            <value>SQLAAS\SQLGRP1;SQLAAS\SQLGRP2</value>
        </setting>
        <setting name="signedcert" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="timerlogfile" serializeAs="String">
            <value>C:\temp\SQLaaSLog_Timer.log</value>
        </setting>
        <setting name="GWSQLSRV" serializeAs="String">
            <value>SQLAAS.LAB</value>
        </setting>
        <setting name="GWDBNAME" serializeAs="String">
            <value>GW</value>
        </setting>
        <setting name="DNSProd" serializeAs="String">
            <value>SQLaaS.LAB</value>
        </setting>
        <setting name="DNSNonProd" serializeAs="String">
            <value>SQLaaS.LAB</value>
        </setting>
        <setting name="DNSServer" serializeAs="String">
            <value>DNS_SERVER_NAME.sqlaas.lab</value>
        </setting>
        <setting name="MDFPath" serializeAs="String">
            <value>C:\DB</value>
        </setting>
        <setting name="LDFPath" serializeAs="String">
            <value>C:\DB</value>
        </setting>
        <setting name="PoSHKerbCheck" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="RDGSecGroup" serializeAs="String">
            <value>SLG-SQLaaS-RDS-Users</value>
        </setting>
    </Gateway.Properties.Settings>
  </applicationSettings>
</configuration>