<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WAP_WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <authentication mode="Windows" />
      <authorization>
        <deny users="?"/>
      </authorization>
      <webServices>
        <protocols>
          <remove name="Documentation" />
        </protocols>
      </webServices>
    </system.web>

    <applicationSettings>
        <WAP_WebService.Properties.Settings>
            <setting name="GWDB" serializeAs="String">
                <value>GW</value>
            </setting>
            <setting name="VerboseLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GWSQLServer" serializeAs="String">
                <value>sqlaas.lab</value>
            </setting>
            <setting name="CreateGroup" serializeAs="String">
                <value></value>
            </setting>
            <setting name="StatusGroup" serializeAs="String">
                <value>statusdb</value>
            </setting>
            <setting name="DeleteGroup" serializeAs="String">
                <value></value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="GroupDomain" serializeAs="String">
                <value></value>
            </setting>
        </WAP_WebService.Properties.Settings>
    </applicationSettings>
</configuration>
